.episode-button {
    width: 42px;
    height: 34px;
    background-color: #3898ec;
    margin-top: 10px;
    color: white;
    border-radius: 18px;
    text-align: center;
    line-height: 34px;
    margin-right: 5px;
    cursor: pointer;
}
